<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JWT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JWT.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">JWT</a>
                <a class="navbar-brand" href="/"><span class="navbar-toggler-icon"></span></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <a class="navbar-brand cursorPointer" onclick="Logout()">Logout</a>
                                }
                                else
                                {
                                    <a class="navbar-brand" href="/home/login">Login</a>
                                }
                            }
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="/home/AdminPage">AdminPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="/home/UserPage">UserPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="/home/AllRoles">AllRoles</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand cursorPointer" onclick="runFunctionIsProtectedByJWT('/home/AllRolesBearer/')">AllRolesBearer</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" onclick="JwtFetch()">Api-Jwt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - JWT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/auth.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
             function JwtFetch() {

            fetch("/home/GetProtectedData", {
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ${jwtToken}',  // read the NOTE [11] on the HOME PAGE
                    'Content-Type': 'application/json'
                },
                credentials: 'include'  // read the NOTE [11] on the HOME PAGE
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Error: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                alert("Fetched data: " + JSON.stringify(data));
            })
            .catch(error => {
                alert("Error during fetch: " + error);
            });
        }

    </script>
</body>
</html>
